

.parent1 {
    background-color: rgb(64 68 167);
    color: white;
    transition: all 500ms ease-out;
}

.parent1:hover {
    background-color: white;
    color: rgb(64 68 167);
}

.parent1 path {
    transition: all 500ms ease-out;
}

.parent1:hover path {
    fill: rgb(64 68 167);;
}



.parent2 {
    background-color: transparent;
    color: white;
    transition: all 500ms ease-out
}

.parent2:hover { 
    background-color: #FBB040;
}


